.carousel,
.register{
  margin-top: 25%;
  min-height: 60vh;
}
.carousel p{
  margin-left: 7%;
  margin-right: 7%;
}
.btn-registrarme{
  width: 80%;
}
.register{
  line-height: 30px;
}
.btn-register{
  height: 50px;
}
.carousel .indicators .indicator-item{
  background:  #f8f8f8;
}
.carousel .indicators .indicator-item.active{
  background:  #f64552;
}
