.carousel,
.register,
.register-codigo{
  margin-top: 20%;
  min-height: 60vh;
}
.carousel p{
  margin-left: 7%;
  margin-right: 7%;
}
.btn-registrarme{
  width: 80%;
}
.register{
  line-height: 30px;
}
.screen-fin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-footer{
  display: flex;
  align-items: flex-end;
}
.flex{
  display: flex;
  justify-content: space-around;
}
.flex-footer img{
  width: 30%;
}
.btn-register{
  height: 50px;
}
.input-date{
  height: 30px !important;
  width: 50px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-bold{
  font-weight: bold;
}
img{
  vertical-align: sub;
}
input[type=text]{
  font-size: 1.3rem;
}
.div-right{
  overflow: auto;
}
.card-fin{
  height: 100vh;
}
.purple-light{
  background: #451e36;
}
.purple-dark{
  background: #38052A;
}
.carousel .indicators .indicator-item{
  background:  #f8f8f8;
}
.carousel .indicators .indicator-item.active{
  background:  #f64552;
}
